<%- include ("../partials/header")  %> 


 <section class="body_menu_hamburguer" ></section>
  <div class="menu_hamburguer" id="menu_hamburguer">
    
    <ul>
        <li class="lista_label_hambuerguer">
          Variedades
           <ul >
            <a href="/variedades.html"> <li>Eletrônicos</li></a>
            <a href="/variedades.html"> <li>Móveis</li></a>
            <a href="/variedades.html"><li>Roupas</li></a>
           </ul>
        </li>

        <li class="lista_label_hambuerguer" >Espaço pet
            <ul >
              <a href="pet.html"> <li>Gatos</li></a>
              <a href="pet.html"><li>Cachorros</li></a>
              <a href="pet.html"><li>Diversos</li></a> 
            </ul>
        </li>

        <li class="lista_label_hambuerguer" >Farmácia
            <ul >
              <a href="farmacia.html"><li>Remédios</li></a>
              <a href="farmacia.html"><li>Beleza</li></a>
              <a href="farmacia.html"><li>Diversos</li></a>
            </ul>
        </li>

    </ul>

</div>

          <!-- Inicio Primeira Section ---------------------------------------------------------------------------->   

    <section class="Articos_Compras">
            <!-- Inicio Primeiro Artico  de Imagens---------------------------------------------------------------------------->  
        
          <article class="Primeiro_Artico_Compras">
              <div class="Primeiro_Bloco_Superior"><img src="/img/<%= produtoDetalhe.image %>" alt="img variedades">
              </div>

              <div class="Segundo_Bloco">
                  <img src="/img/<%= produtoDetalhe.image %>" alt="img variedades">
                  <img src="/img/<%= produtoDetalhe.image %>" alt="img variedades">
                  <img src="/img/<%= produtoDetalhe.image %>" alt="img variedades">
              </div>
          </article>

            <!-- fim Primeiro Artico de imagens---------------------------------------------------------------------------->      

          <!-- Inicio Artico texto ------------------------------------------------------------------------->

          <article class="Segundo_Artico_Compras">
            <div class="Text">
              <h3>Descrição do produto :</h3>
              <p><%= produtoDetalhe.description %></p>

            </div>

          </article>

  <!--fim Artico Texto----------------------------------------->      

  <!-- Inicio Artico Aside ------------------------------------------------------------------------->

          <article class="Terceiro_Artico_Compras">
            <div>
              <i class="fa-solid fa-basket-shopping"></i>
              <h3><%= produtoDetalhe.name %></h3>
              <p>R$ <%= produtoDetalhe.price %></p>
              <!-- <button type="submit">Comprar</button> -->
              <a href="/produtos/area_compras_pet/<%= produtoDetalhe.id%>">
                <button type="button">
                  Comprar
               </button>
               </a>
               <a href="/produtos/editar/<%= produtoDetalhe.id%>">
                <button type="button">
                  Editar Produto
               </button>
               </a>

            </div>

    

          </article>

        <!--fim Artico Aside----------------------------------------->      
        
  
 </section> 

 
<%- include("../partials/footer") %> 
   

</body>


</html>