<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/4d88c7f41d.js" crossorigin="anonymous"></script>
  <title><%= produtoDetalhe.description %></title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/area_compras.css">
  <link rel="stylesheet" href="/css/footer.css">

</head>

<body>

  <%- include ("../partials/header") %>
  
          <!-- Inicio Primeira Section ---------------------------------------------------------------------------->   

    <section class="Articos_Compras">
            <!-- Inicio Primeiro Artico  de Imagens---------------------------------------------------------------------------->  
        
          <article class="Primeiro_Artico_Compras">
              <div class="Primeiro_Bloco_Superior"><img src="/img/<%= produtoDetalhe.image %>" alt="">
              </div>

              <div class="Segundo_Bloco">
                  <img src="/img/<%= produtoDetalhe.image %>" alt="Caes e Gatos">
                  <img src="/img/<%= produtoDetalhe.image %>" alt="Caes e Gatos">
                  <img src="/img/<%= produtoDetalhe.image %>" alt="Caes e Gatos">
              </div>
          </article>

            <!-- fim Primeiro Artico de imagens---------------------------------------------------------------------------->      

          <!-- Inicio Artico texto ------------------------------------------------------------------------->

          <article class="Segundo_Artico_Compras">
            <div class="Text">
              <h3>Descrição do produto :</h3>
              <p><%= produtoDetalhe.texto %></p>

            </div>

          </article>

  <!--fim Artico Texto----------------------------------------->      

  <!-- Inicio Artico Aside ------------------------------------------------------------------------->

          <article class="Terceiro_Artico_Compras">
            <div>
              <i class="fa-solid fa-basket-shopping"></i>
              <h3><%= produtoDetalhe.description %></h3>
              <p>R$ <%= produtoDetalhe.price %></p>

              <button type="submit">Comprar</button>


              <!-- <button type="submit">Comprar</button> -->
              <a href="/produtos/area_compras_home/<%= produtoDetalhe.id%>">
                <button type="button">
            </div>

  
          </article>

        <!--fim Artico Aside----------------------------------------->      
        
  
 </section> 

<%- include("../partials/footer") %> 

<script src="/js/menu_hamburguer.js"></script>

</body>


</html>
