<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Seven / Login</title>
    <script src="https://kit.fontawesome.com/4d88c7f41d.js" crossorigin="anonymous"></script>
    <!--esse script é gerado pelo fontawesome.com que gera icones -->

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/pageLogin.css">
    

</head>

<body>
  
  <%- include ("../partials/header") %>
  
    <div class="box">
        
        <h2>Carrinho de compras</h2>
        <% produtosCarrinho.forEach(produto => { %>
            <div class="cart">
              
                <img class="imgCart" src="/img/<%= produto.image %>" alt="">
                <p class="titleCart"> <%= produto.description %> </p>
                <input type="number" name="quantidade" min="1" max="100">                   
                    
                </div>
                <p class="price"><%= produto.price %></p>
        
            </div>

        <% }) %>
        

            <h3>Total:</h3>
        
    </div>

    

  
  <%- include("../partials/footer") %> 
 

     <!--<div class="whatsapp">
    <p>Duvidas ?</p>
    <a target="_blank" href="https://wa.me/+5511966471637?text=Olá tudo bem ? "><i id="whats" class="fa-brands fa-whatsapp-square"></i></a>
    </div>-->

<script src="/js/home.js"></script>
<script src="/js/menu_hamburguer.js"></script>
</body>


</html>