<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario_cadastro</title>
    <script src="https://kit.fontawesome.com/4d88c7f41d.js" crossorigin="anonymous"></script>
    <!--esse script é gerado pelo fontawesome.com que gera icones -->

    <link rel="stylesheet" href="/css/formulario_header.css">
    <link rel="stylesheet" href="/css/formulario.css">
    
  
   
</head>

<body>
  
  <%- include ("../partials/header") %>

   <main>
      

  <div class="container">
      <div class="header">
        <h2>Editar sua conta empresa </h2>
      </div>


    <form action="/formularioEmpresasEdit/<%= CNPJEdit.CNPJ %>?_method=PUT " method="POST" id ="form" class="form">


          <div class="form-control">

            <label for="username">Nome da empresa</label>
            <input type="text" name="username" id="username" placeholder="Digite seu nome de usuário..." value="<%= CNPJEdit.username %>"/>
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
          </div>

      
          <div class="form-control">

            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Digite seu email.." value="<%= CNPJEdit.email %>"/>
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
    
          </div>


          <div class="form-control">

            <label for="CNPJ">CNPJ</label>
            <input type="text" name="CNPJ" id="CNPJ" placeholder="Digite seu CNPJ.." value="<%= CNPJEdit.CNPJ %>"/>
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
           <!-- <small>Mensagem de erro</small>-->
          
          </div>

          <div class="form-control">

            <label for="telefone">Telefone</label>
            <input type="text" name="telefone" id="telefone" placeholder="Digite seu número.." value="<%= CNPJEdit.telefone %>"/>
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
         
            
          </div>
          
          <!-- campo da senha e confirmação inicio------------------------------------------------------------------------------>
          <div class="form-control">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" placeholder="Digite sua senha..." value="<%= CNPJEdit.password %>"/>
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
            
          </div>


          <div class="form-control">
            <label for="password-confirmation">Confirmação de senha</label>
            <input type="password"  name="passwordConfirmation"id="password-confirmation" placeholder="Digite sua senha novamente..." value="<%= CNPJEdit.passwordConfirmation %>"/>
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
            
          </div>
          
          <!-- campo da senha e confirmação fim-------------------------------------------------------------------------------->

          <button type="submit"> <strong> Confirmar alteração  </strong></button>  <!-- botão de  confirmação do cadastro -->    
         
						
    </form>
         
    <form action="/formularioEmpresasEdit/<%= CNPJEdit.CNPJ %>?_method=DELETE" method="POST" >
      <button type="submit" class="action-button delete">Apagar dados</button>
    </form>

  </div>
    


 </main>




 <footer>




 </footer>


</body>


<script src="/js/login.js"></script>

</html>