<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Seven</title>
    <script src="https://kit.fontawesome.com/4d88c7f41d.js" crossorigin="anonymous"></script>
    <!--esse script é gerado pelo fontawesome.com que gera icones -->

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/body_home.css">
    <link rel="stylesheet" href="/css/carrossel.css">

</head>

<body>
  
  <%- include ("../partials/header") %>
  <%- include ("../partials/carrosel") %>
 

  <main>
     <!-- fim carrosel de imagens do site parte superior ---------------------------------------------------->

   <section class="cabecalho_imagens">
      <div>
        <p>Variedades </p> <i class="fa-solid fa-shop"></i>
      </div>
   </section>
    <!-- inicio primeiro block de imagens---------------------------------------------------------------------------->
     
    <section class="elementoUm_article" >

      <% productsHome.forEach(element1 => { %>

        <div class="elementoUm_article_div" >
            <img class = "img_elementoUm_article_div" src="/img/<%= element1.image %>" alt="">
            <p id="descHome1"><%= element1.description %> </p>
            <p id="priceHome"> R$ <%= toThousand(element1.price) %> </p>
            <a target="_blank" href="/produtos/area_compras_home/<%= element1.item %> ">
              <button id="button_comprar" type="submit">Comprar</button></a>
              <button type="submit" id="buttonCarrinho">Detalhes</button>
        </div>

      <% }) %>

    </section>

<!-- fim primeiro block de imagens---------------------------------------------------------------------------->


<!-- Segundo  block de imagens---------------------------------------------------------------------------->
    <section class="cabecalho_imagens2">
      <div>
        <p>Espaço pet</p><i class="fa-solid fa-paw"></i> 
      </div>
    </section>
    
    <section class="elementoUm_article" >

      <% productsHome2.forEach(element2 => { %>

        <div class="elementoDois_article_div" >
            <img class = "img_elementoDois_article_div" src="/img/<%= element2.image %>" alt="">
            <p id="descHome2"><%= element2.description %> </p>
            <p id="priceHome"> R$ <%= toThousand(element2.price) %> </p>
            <a target="_blank" href="/produtos/area_compras_home/<%= element2.item %> ">
              <button id="button_comprar" type="submit">Comprar</button></a>
              <button type="submit" id="buttonCarrinho">Detalhes</button>
        </div>

      <% }) %>

    </section>

    
<!-- fim segundo block de imagens---------------------------------------------------------------------------->
    

<!-- terceiro block de imagens---------------------------------------------------------------------------->
    
    <section class="cabecalho_imagens3">
      <div>
        <p>Farmácia</p><i class="fa-solid fa-house-chimney-medical"></i>
      </div>
    </section>

    <section class="elementoTres_article" >

      <% productsHome3.forEach(element3 => { %>

        <div class="elementoTres_article_div" >
            <img class = "img_elementoTres_article_div" src="/img/<%= element3.image %>" alt="">
            <p id="descHome3"><%= element3.description %> </p>
            <p id="priceHome"> R$ <%= toThousand(element3.price) %> </p>
            <a target="_blank" href="/produtos/area_compras_home/<%= element3.item %> ">
              <button id="button_comprar" type="submit">Comprar</button></a>
              <button type="submit" id="buttonCarrinho">Detalhes</button>
        </div>

      <% }) %>

    </section>

    
<!-- fim terceiro block de imagens---------------------------------------------------------------------------->



  </main>

  <%- include("../partials/footer") %>

   <!--<div class="whatsapp">
  <p>Duvidas ?</p>
  <a target="_blank" href="https://wa.me/+5511966471637?text=Olá tudo bem ? "><i id="whats" class="fa-brands fa-whatsapp-square"></i></a>
  </div>-->

     

 <script src="/js/home.js"></script>
 <script src="/js/menu_hamburguer.js"></script>
</body>


</html>

