<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grupo Seven / Espaço pet</title>
  <script src="https://kit.fontawesome.com/4d88c7f41d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/body_pet.css">
  <link rel="stylesheet" href="/css/footer.css">
  
</head>

<body>

  <%- include ("../partials/header") %>

  <main>
    <section class="slider">
      <!--carrosel de imagens do site parte superior --------------------------------------------->

      <article class="slides">

        <!--inicio Radio buttons--------------------------------------------------------------------------------->
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <!--fim Radio buttons------------------------------------------------------------------------------------->


        <!--inicio slide imagens---------------------------------------------------------------------------------->
        <div class="slide first">
          <img width="100%" height="500" src="/img/carrosel-pet1.webp" alt="imagem 1">
        </div>

        <div class="slide">
          <img src="/img/carrosel-pet5.webp" alt="imagem 2">
        </div>

        <div class="slide">
          <img src="/img/carrosel-pet4.webp" alt="imagem 3">
        </div>

        <div class="slide">
          <img src="/img/carrosel-pet2.webp" alt="imagem 4">
        </div>
        <!--fim slide imagens--------------------------------------------------------------------------------------->


        <!-- inicio navegação automatica---------------------------------------------------------------------------->
        <div class="nav_auto">

          <div class="auto_btn1"></div>
          <div class="auto_btn2"></div>
          <div class="auto_btn3"></div>
          <div class="auto_btn4"></div>
        </div>
        <!-- fim navegação automatica---------------------------------------------------------------------------->

      </article>


    </section> <!-- fim carrosel de imagens do site parte superior ---------------------------------------------------->

    <div class="label_nav">
      <label for="radio1" class="label_btn"></label>
      <label for="radio2" class="label_btn"></label>
      <label for="radio3" class="label_btn"></label>
      <label for="radio4" class="label_btn"></label>
    </div>


    <section class="container">
      <% productsPet.forEach(element2 => { %>
       


      <div class="card">
        <img src="/img/<%= element2.image %> " complete="complete">
        <div class="descricao">
          <p><%= element2.description %> </p>
          <P>R$ <%= toThousand(element2.price)  %> </P>
        </div>
        <a href="/produtos/area_compras_pet/<%= element2.item %> ">
          <button class="comprar">Comprar</button></a>
        <button class="carrinho">Carrinho</button>
      </div>
      
      </div>

      <% }) %>

    </section>


    
    <section class="container">
      <% productsPet2.forEach(element => { %>
       
      
      <div class="card">
        <img id="" alt="" src="/img/<%= element.image %> " complete="complete">
        <div class="descricao">
          <p><%= element.description  %> </p>
          <P>R$ <%= element.price  %> </P>
        </div>
        <a href="/produtos/area_compras_pet/<%= element.item %> ">
        <button class="comprar">Comprar</button></a>
        <button class="carrinho">Carrinho</button>
      </div>

      <% }) %>


    </section>

     
    <section class="container">
      <% productsPet.forEach(element => { %>
       
      
      <div class="card">
        <img id="" alt="" src="/img/<%= element.image %> " complete="complete">
        <div class="descricao">
          <p><%= element.description %> </p>
          <P>R$ <%= element.price %> </P>
        </div>
        <a href="/produtos/area_compras_pet/<%= element.item %> ">
        <button class="comprar">Comprar</button></a>
        <button class="carrinho">Carrinho</button>
      </div>

      <% }) %>

    


  </main>


  <%- include("../partials/footer") %> 
  
   
  
     <!--<div class="whatsapp">
    <p>Duvidas ?</p>
    <a target="_blank" href="https://wa.me/+5511966471637?text=Olá tudo bem ? "><i id="whats" class="fa-brands fa-whatsapp-square"></i></a>
    </div>-->


    <script src="/js/pet.js"></script>
    <script src="/js/menu_hamburguer.js"></script>

</body>


</html>
