<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Seven / Mercado</title>
    <script src="https://kit.fontawesome.com/4d88c7f41d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/body_variedades.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/carrossel.css">
  
</head>

<body>
  
<%- include ("../partials/header") %>
<%- include ("../partials/carrosel") %>


        <section>

            <!--corpo com imagens e detalhes com texto etc...-->
            <section class="products">
              
              
              <div class="products1">
                  <!--corpo com imagens e detalhes com texto etc...-->
                  <% productsVariedades.forEach(element => { %>
                    
                    <div>                  
                      <img id= "imgsize" src="/img/<%= element.image %>" alt="">
                      <p><%= element.description %> </p>
                      <p> R$ <%= toThousand(element.price) %> </p>
                      <a target="_blank" href="/produtos/area_compras_variedades/<%= element.item %> ">
                        <button id="button_comprar" type="submit">Comprar</button>
                      </a>

                      <button type="submit" id="buttonCarrinho">Detalhes</button>

                    </div>
        
                <% }) %>
        
              </section>
        
         
        <!-- fim primeiro block de imagens---------------------------------------------------------------------------->
        
        </main>
        
        <%- include("../partials/footer") %>
        
           <!--<div class="whatsapp">
          <p>Duvidas ?</p>
          <a target="_blank" href="https://wa.me/+5511966471637?text=Olá tudo bem ? "><i id="whats" class="fa-brands fa-whatsapp-square"></i></a>
          </div>-->
        
        <script src="/js/farmacia.js"></script>
        <script src="/js/menu_hamburguer.js"></script>
        
        </body>
        
        
        </html>
        
        
